.resume {
  margin-top: 40px;

  .chapterTitle {
    font-size: $h5-font-size;
    text-align: left;
    background-color: lightseagreen;
    color: black;
    padding-left: 0.2rem;
  }

  .titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .avatar {
      max-width: 150px;
      width: 90%;
    }
    .name {
      font-size: $h1-font-size;
      text-align: center;
    }
    .subtitle {
      font-size: $h5-font-size;
      text-align: center;
    }
    .namesubtitleholder {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block {
      margin-top: 1rem;
      width: 100%;
      ol {
        display: flex;
        list-style-type: none;
        padding-left: 0px;
        flex-wrap: wrap;
        li {
          display: flex;
          margin-left: 0;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          min-width: 15rem;
          i {
            width: 2rem;
            text-align: center;
          }
          p{
            flex-grow: 1;
          }
        }
      }
    }
  }

  .mainbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .block {
      margin-top: 1rem;
      width: 100%;
      ol {
        display: flex;
        list-style-type: none;
        padding-left: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        li {
          display: flex;
          margin-left: 0;
          flex-direction: column;
          justify-content: flex-start;
          align-items: baseline;
          width: 100%;

          i {
            width: 2rem;
            text-align: center;
          }
          p {
            flex-grow: 1;
          }
          h5 {
            font-weight: normal;
          }
          h6 {
            font-weight: normal;
            text-align: right;
            width: 100%;
          }
        }
      }
    }
  }
}
